.avatar-edit-container{
    padding-top: 75px;
}

.avatar-edit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:5px solid white;
    box-shadow: 10px 10px 7px rgb(0, 0, 0, 0.5);
    object-fit:cover;
    margin-bottom: -10px;
}

.left-arrow{
    position: relative;
    margin-bottom: 18px;
    top: 65px;
    left: 42%;
    width: 27px;
    color: white;
    overflow: hidden;
}

.right-arrow{
    position: relative;
    margin-bottom: 5px;
    top: 35px;
    left: 57%;
    width: 27px;
    color: white;
    overflow: hidden;
}

.detail{
    position: relative;
    color:white;
    font-family: "Assistant";
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -65px;
    left: 10px;
    top: -5px;
    font-size: 20px;
}

.right-arrow:active{
    position:relative;
    top: 36.5px;
    cursor: pointer;
}

.left-arrow:active{
    position:relative;
    top: 66.5px;
    cursor: pointer;
}

.right-arrow,
.left-arrow:hover{
    cursor: pointer;
}

.submit{
    position: relative;
    display:block;
    width: 125px;
	height: 45px;
	margin-top: 70px;
	font-size: 13px;
	border-radius: 10px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    left: 10px;
}

.submit:hover{
	cursor: pointer;
}