.user-details{
    font-family: "Assistant";
    width:290px;
    color:white;
    display: block;
    position: relative;
    left: 125px;
    background-color: rgb(110, 147, 153);
    box-shadow: 10px 5px 5px rgb(96, 145, 152);
    padding: 1px 15px;
    border-radius: 20px;
    height: 350px;
    top: 5px;
    z-index: 5;
}